*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 .main{
    width: 100%;
    height: 100vh;
    background: url(img1.webp);
    background-size: cover;
 }
 .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    color: white;
 }
 .title{
    font-size: 2.5rem;
    text-align: center;
 }
 .col{
    width: 1000px;
    height: 100px;
    margin: 10px auto;
    display: flex;
/* border: 2px solid red; */
text-align: center;
justify-content: center;
 }
 .col div{
    width: 250px;
    text-align: center;
 }

 input{
    height: 60%;
    width: 100px;
    padding: 25px 25px;
    border-radius: 6px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;

 }